<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoinChat test task</title>
    <link rel="stylesheet" href="./styles/main.scss">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
  </head>
  <body>
    <header class="header">
      <article class="header__background"></article>

      <section class="content-container">
        <artile class="header__content">
          <section class="header__left-side">
            <h1 class="header__title">
              Попробуйте
              <span class="capital-letters">бесплатно</span>
            </h1>
  
            <article class="header__info">
              <section class="header__clients">
                <p class="header__clients-quantity">
                  2000
                </p>
  
                <p class="header__clients-text capital-letters">
                  бизнесов
                </p>
              </section>
  
              <section class="header__text">
                <p class="header__subtitle">
                  уже попробовали JoinChat.
                </p>
  
                <p class="header__explanation">
                  Присоединяйтесь к ним - создайте аккаунт прямо
                  <span class="header__explanation--bold">сейчас. Первые 15 дней бесплатно.</span>
                </p>
              </section>
            </article>

            <div class="header__form" id="form">
              <main-page-form inline-template>
                <form
                  action=""
                  class="form"
                  @submit.prevent="submitForm"

                >
                  <section class="form__text-fields">
                    <input
                      class="form__name form__text-field"
                      type="text"
                      placeholder="Название компании"
                      v-model="name"
                    >

                    <input
                      class="form__email form__text-field"
                      type="email"
                      placeholder="Email"
                      v-model="email"
                    >

                    <input
                      class="form__tel form__text-field"
                      type="tel"
                      placeholder="Телефон"
                      v-model="tel"
                    >
                  </section>

                  <button
                    class="form__button"
                    type="submit"
                  >
                    Попробовать бесплатно
                  </button>
                </form>
              </main-page-form>
            </div>
          </section>
          
          <section class="header__images">
            <img
              class="header__img-phone header__img"
              src="/images/iphone.png"
              alt="iPhone"
            >
    
            <img
              class="header__img-tablet header__img"
              src="/images/ipad.png"
              alt="iPad Pro"
            >
          </section>
        </article>
      </section>
    </header>

    <script type="text/javascript" src="scripts/index.js"></script>
  </body>
</html>
